@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
  background-color: #000; /* Black background for the entire app */
  color: #fff; /* White text color for better contrast */
  margin: 0;
  padding: 0;
  font-family: 'Calibri', 'Roboto', 'Open Sans', Arial, Impact, 'Haettenschweiler', 'Arial Narrow Bold' , sans-serif;
}

@media (prefers-color-scheme: dark) {
  .dark {
    background-color: #000;
    color: #fff;
  }
}

* {
  color: #fff;
}

a {
  color: #1e90ff;
}

a:hover {
  color: #add8e6;
}
